/* global */
:root {
	--main-colour: #50586d;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p {
	margin-bottom: 0;
}
body {
	background-color: #353b49;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style-type: none;
	margin: 0;
}

/* navbar */
.navbar-brand {
	display: flex;
	align-items: center;
}
.navbar-brand img {
	margin-right: 0.5rem;
}
.nav-link::after {
	content: " ";
	display: block;
	height: 2px;
	width: 0;
	background: #e84118;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}
.nav-link:hover:after {
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: flex-end;
}
@media screen and (max-width: 990px) {
	.logo {
		width: 100%;
	}
}

/* footer */
.footer-cont {
	background-color: var(--main-colour);
}

/* home */

/* jumbotron */

.header-home {
	background-color: var(--main-colour);
	align-items: center;
	margin-bottom: 4rem;
}
.header-home .text {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}
.header-home .text a {
	width: fit-content;
}
/* carosel */
.carousel-item {
	height: 100%;
}
.carousel-item img {
	width: 100%;
	height: auto;
}

/* features */
.feature {
	background-color: var(--main-colour);
}

/* cards */
.card-home {
	width: 25rem;
	border: none;
	background-color: var(--main-colour);
}

/* o nama */
.hero-onama {
	background-color: var(--main-colour);
}
.about-img {
	width: 100%;
	margin-bottom: 3rem;
}

/* projekcije */
.datumi {
	overflow-x: auto;
}
.datum {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	margin-right: 1rem;
}
.datum:first-child {
	background-color: #e3aa0d;
}
.datum p {
	margin-bottom: 0;
}
.projekcije-card {
	background-color: var(--main-colour);
}
.projekcije-card p {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
@media screen and (min-width: 768px) {
	.projekcije-cont {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.projekcije-card img {
		height: 20rem;
	}
}
.tag {
	width: fit-content;
}
.proj-times .time {
	width: fit-content;
}
