/* global */
:root {
	--main-colour: #50586d;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p {
	margin-bottom: 0;
}
body {
	background-color: #353b49;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style-type: none;
	margin: 0;
}

/* navbar */
.navbar-brand {
	display: flex;
	align-items: center;
}
.navbar-brand img {
	margin-right: 0.5rem;
}
.nav-link::after {
	content: " ";
	display: block;
	height: 2px;
	width: 0;
	background: #e84118;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}
.nav-link:hover:after {
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: flex-end;
}
@media screen and (max-width: 990px) {
	.logo {
		width: 100%;
	}
}

/* footer */
.footer-cont {
	background-color: var(--main-colour);
}

/* home */

/* features */
.feature {
	background-color: var(--main-colour);
}

/* cards */
.card-home {
	width: 25rem;
	border: none;
	background-color: var(--main-colour);
}

/* o nama */
.hero-onama {
	background-color: var(--main-colour);
}
.about-img {
	width: 100%;
	height: 30rem;
	object-fit: cover;
	margin-bottom: 3rem;
}

/* projekcije */
.datumi {
	overflow-x: auto;
}
.datum {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	margin-right: 1rem;
}
.datum:first-child {
	background-color: #e3aa0d;
}
.datum p {
	margin-bottom: 0;
}
.projekcije-card {
	background-color: var(--main-colour);
}
.projekcije-card p {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	.projekcije-cont {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	.projekcije-card img {
		height: 20rem;
	}
}
@media screen and (min-width: 1920px) {
	.projekcije-cont {
		width: 30%;
		margin-left: auto;
		margin-right: auto;
	}
	.projekcije-card img {
		height: 20rem;
	}
}
.tag {
	width: fit-content;
}
.proj-times .time {
	width: fit-content;
}

/* galerija */
.item {
	width: 20rem;
	height: 15rem;
}
.item a img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 1336px) {
	.gallery-cont {
		margin-bottom: 20rem;
	}
}

/* kontakt */
.kont-cont {
	height: 50vh;
}
@media screen and (min-width: 1024px) {
	.iframe {
		width: 50%;
		height: 30rem;
	}
	.iframe iframe {
		width: 100%;
		height: 100%;
	}
	.kont-cont {
		height: 50vh;
		margin-bottom: 10rem;
	}
}

/* faq */
@media screen and (min-width: 768px) {
	.faq {
		margin-bottom: 7rem;
	}
}
@media screen and (min-width: 1024px) {
	.faq {
		margin-bottom: 12rem;
	}
}
@media screen and (min-width: 1440px) {
	.faq {
		margin-bottom: 15rem;
	}
}

/* rezervacije */

.form-cont {
	height: 80vh;
}
.form {
	height: 100%;
}
.form-img {
	width: 50%;
}
.form-img img {
	width: 100%;
}
/* table */
.table {
	height: 60vh;
}
.table-cont {
	overflow-x: scroll;
}

/* stampa */
.stampa-body {
	background: #fff;
}
.stampa {
	margin-top: 10rem;
}

/* mapa */

.mapa {
	height: 60vh;
}
